@import url("https://fonts.googleapis.com/css?family=Titillium+Web:400,600");

.about-container {
  display: flex; /* Use flexbox to stack items vertically */
  flex-direction: column; /* Arrange cards vertically */
  gap: 20px; /* Space between cards */
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
}

.about {
  background-color: #1c1c1d;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 5px 5px 68px #070708,
              -5px -5px 68px #1d1d1e;
}

#name {
  text-align: center;
  font-size: 1.2rem;
}

.about.personal-details ul li i {
  border: 1px solid white;
  background-color: black;
  padding: 2px 5px;
  margin: 0 4px;
}

.about.personal-details ul li {
  text-align: left;
  margin-bottom: 20px;
}

h2 {
  color: #fff16a;
  margin-bottom: 15px;
  text-decoration: underline;
}

h3 {
  text-decoration: underline;
}

.about.about-intro p,
.about.what-i-do p {
  line-height: 1.5;
}

.about.personal-details ul {
  list-style: none;
}

.about.personal-details li {
  margin-bottom: 10px;
}

.dos {
  padding: 5px;
  margin-bottom: 20px;
  border-radius: 8px;
  background: #121213;
  box-shadow: 5px 5px 2px #0d0d0e,
              -5px -5px 2px #171718;
}

@media (max-width: 768px) {
  /* Responsive design for smaller screens */
  .about {
    background-color: #121213;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    margin-top: 20px;
    height: auto; /* Auto height */
  }
}
